.fl {
    float: left;
}
.fr {
    float: right;
}
.d-flex {
    display: flex;
}
.flex1 {
    flex: 1;
}
.rightContent {
    margin-left: 200px;
}
.clearfix:after,
.cl:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.clearfix,
.cl {
    *zoom: 1;
}
::-ms-clear,
::-ms-reveal {
    display: none;
}
.el-icon-none {
}
.el-input input:placeholder,
.el-input input:-ms-input-placeholder,
.el-input input::-webkit-input-placeholder {
    color: #999999;
    font-weight: normal;
    font-style: normal;
}
.heads {
    background: #ffffff;
    height: 70px;
    display: flex;
}
.page-title {
    color: #04afff;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    height: 50px;
}
.heightauto {
    height: calc(100% - 50px);
}
.el-select .el-input .el-input__icon {
    -ms-transform: translateY(-50%) rotate(180deg);
}
.el-message {
    -ms-transform: translateX(-50%);
}
.input_select i {
    -ms-transform: translateY(-50%) rotate(180deg);
}
.input_select .is_reverse {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.el-checkbox__inner {
    border-radius: 2px;
}
.el-checkbox .el-checkbox__input .el-checkbox__inner:after {
    -ms-transform: rotate(45deg) scaleY(1);
}
.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #4ca1f4;
    border-color: #4ca1f4;
}
.el-input .el-input__inner {
    border-radius: 4px;
    // vertical-align: middle;
}
.el-input.border-gray input,
.border-gray,
.el-select.border-gray input {
    border-color: #c0ccda;
}
.placeholder {
    line-height: 34px;
}
.hidetxt,
.hidetxt .el-form-item__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hidetxt .el-form-item__content
/* 表格公用样式 */
.el-table,
.el-table.el-table--border {
    border: 1px solid #eee;
}
.el-table.el-table--fit {
    border-right: 0;
    border-bottom: 0;
}
.el-table--border table td,
.el-table--border table th {
    border-right: 1px solid #eee;
}
.el-table table thead th {
    background: #c9e5f8;
    color: #333;
    .cell {
        background: #c9e5f8;
        font-size: 16px;
        font-weight: 400;
    }
}
.el-table .el-table__body tr.el-table__row--striped td {
    background: #f3fafd;
}
.el-table__body tr.el-table__row:hover td {
    background: #fff5d2;
}
.el-table__body tr.el-table__row:hover td .el-button--text,
.el-table__body tr.el-table__row:hover td .el-button--text a {
    color: #02adff;
}
.el-table__body tr.el-table__row td .el-button--text {
    font-size: 14px;
}
.el-table table td,
.el-table table th.is-leaf {
    border-bottom: 1px solid #eee;
}
.el-table td > div.cell,
.el-table th > div.cell {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 18px;
}
.el-table td,
.el-table th {
    height: 50px;
}
.nonedata {
    margin-top: 40px;
    text-align: center;
    .imgbg {
        width: 90px;
        height: 90px;
        display: inline-block;
        margin: 0;
        background: url(../../../static/image/search_info.png) no-repeat 50% 0;
    }
    .txt {
        color: #999;
        line-height: 30px;
    }
}

.el-button--default {
    border-color: #c0ccda;
}
.el-button--default:hover {
    background: #0073bd;
    border-color: #0073bd;
    color: #fff;
    span {
        color: #fff;
    }
}
//.el-button--default:focus {  background: #fff; border: 1px solid #c4c4c4;}
.el-button--primary {
    background: #4ca1f4;
    border-color: #4ca1f4;
}
.el-button--primary:focus {
    background: #4ca1f4;
    border-color: #4ca1f4;
}
.el-button--primary:hover {
    background: #0073bd;
    border-color: #0073bd;
}
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
    color: #fff;
    background: #caddeb;
    border-color: #caddeb;
}
.el-button--text,
.el-button--text a {
    color: #999;
}
.el-button--text:hover,
.el-button--text:hover a {
    color: #0073bd !important;
}
.el-button--text:hover,
.el-button--text:hover a {
    color: #0073bd;
}
.el-button.sure {
    border-radius: 4px;
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    vertical-align: top;
}
.el-button.sure.is-disabled {
    background: #81bdf7;
    border-color: #81bdf7;
}
.el-button.searchbtn {
    border-color: #02adff;
    color: #02adff;
    //width: 80px;
    min-width: 80px;
}
.el-button.searchbtn:hover {
    border-color: #0073bd;
}
.userbtn {
    background: #eff6fc;
    color: #888;
    border-color: #eee;
}
.userbtn:hover {
    background: #dbedfb;
    color: #666;
    border-color: #dbedfb;
}

.el-loading-mask {
    z-index: 999;
}
// .el-button{
//     width: 100px;
//     height: 36px;
// }
textarea,
textarea.el-textarea__inner {
    border: solid 1px #c0ccda;
}
input.el-input__inner {
    border: solid 1px #c0ccda;
    background: #eff6fc;
    color: #333;
    border-radius: 2px;
}
input.el-input__inner.border-gray {
    border-color: #c0ccda;
}
input.el-input__inner {
    background: #fff;
}
input.el-input__inner:focus {
    border-color: #4ca1f4;
}
input.el-input__inner:hover {
    border-color: #bbb;
}
.search.el-input input.el-input__inner {
    font-size: 12px;
    height: 36px;
    background: #fff;
    border-radius: 4px;
}

/* 弹窗公用*/
.el-dialog.el-dialog--small {
    width: 570px;
}
.usermsg {
    .el-dialog.el-dialog--tiny {
        width: 480px;
        transform: translateX(0);
        -ms-transform: translateX(0);
        margin-left: -240px;
        .el-dialog__header {
            padding: 12px 12px 0;
            height: 30px;
            border: none;
        }
        .el-dialog__body {
            height: 280px;
        }
        .el-dialog__footer {
            border-top: solid 1px #eee;
        }
    }
}
.dialog {
    .el-dialog {
        border-radius: 10px;
    }
    .el-dialog__header {
        padding: 20px;
        height: 40px;
        box-sizing: border-box;
        background: #e8ecef;
        border-radius: 10px 10px 0 0;
    }
    input.el-input__inner {
        background: #fff;
    }
}
.el-dialog__title {
    color: #626262;
}
.el-dialog__headerbtn {
    font-size: 14px;
    font-weight: 100;
    height: 14px;
    margin-top: -5px;
    i {
        vertical-align: top;
    }
}
.el-dialog__body {
    position: relative;
    padding: 0;
    border-radius: 0 0 10px 10px;
    .dialogTitle {
        height: 20px;
        line-height: 20px;
        position: absolute;
        left: 20px;
        top: -28px;
        .el-dialog__title {
            font-size: 16px;
            color: #333;
            font-weight: 100;
        }
    }
}
.dialog-body {
    padding: 20px;
    border-radius: 0 0 10px 10px;
    .el-form-item {
        margin-bottom: 20px;
    }
    .el-form > .el-form-item:last-child,
    .el-form > div > .el-form-item:last-child {
        margin-bottom: 0;
    }
}

.el-dialog__footer {
    padding: 20px;
    text-align: center;
}
.dialog-footer {
    text-align: right;
    padding: 20px;
}

.el-select-dropdown__item {
    min-width: 200px;
    font-size: 12px;
}
.selected.el-select-dropdown__item {
    background-color: #4ca1f4;
}
.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #4ca1f4;
}
/* 分页 */
.pagination {
    padding: 24px 0;
    height: 80px;
    text-align: right;
    .el-pagination {
        padding: 0;
        color: #353535;
        button,
        span {
            font-size: 14px;
            min-width: 32px;
            height: 32px;
            line-height: 32px;
        }
        .el-pagination__total {
            color: #999;
        }
        .btn-next,
        .btn-prev {
            border-color: #e1e1e1;
        }
        width: 100%;
        .el-pager {
            li {
                font-size: 14px;
                min-width: 32px;
                height: 32px;
                line-height: 32px;
            }
            li.active {
                border-color: #4ca1f4;
                background-color: #4ca1f4;
            }
        }
    }
}

.mainbox {
    margin-left: 200px;
}

.Treebox {
    position: absolute;
    width: 180px;
    overflow-x: auto;
    overflow-y: auto;
    // min-height:calc(100% - 53px);
    top: 53px;
    left: 0;
    bottom: 0;
    border-right: 1px solid #e5e5e5;
    padding-top: 10px;
    .el-tree {
        > .el-tree-node {
            > .el-tree-node__content {
                background: #edf5fb;
            }
        }
    }
}

.el-select {
    .el-select__tags {
        transform: translateY(0);
        -ms-transform: translateY(0);
        top: 4px;
        margin-top: 0;
    }
    .el-tag {
        line-height: 22px;
        .el-tag--primary {
            color: #4ca1f4;
        }
        .el-icon-close {
            margin-bottom: -2px;
        }
    }
}
.el-select-dropdown__item.selected.hover {
    background-color: #4ca1f4;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover,
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background: #eff6fc;
}
.msgbox {
    .msgimg {
        height: 160px;
        background: url(../../../static/image/success.png) no-repeat 50% 0;
    }
    .msgimg.fail {
        background: url(../../../static/image/fail.png) no-repeat 50% 50%;
    }
    .msgtxt {
        text-align: center;
        line-height: 20px;
        .title {
            font-size: 14px;
            color: #6fa3d5;
        }
        .title:before {
            content: "操作成功";
        }
        .title.fail {
            color: #ff4949;
        }
        .title.fail:before {
            content: "操作失败";
        }
        .txt {
            font-size: 14px;
            color: #999;
            margin-top: 12px;
        }
    }
}
.el-loading-spinner {
    margin-top: 0;
}
.el-tabs {
    .el-table .el-table__header-wrapper th,
    .el-table .el-table__header-wrapper th .cell {
        background: #fff;
    }
    .el-table tr {
        background: #f0f7f9;
    }
    .el-table .el-table__body tr.el-table__row--striped td {
        background: #fff;
    }
    .el-tabs__header {
        background: #f5d179;
        padding-left: 45px;
        border-bottom: none;
        margin-bottom: 15px;
        .el-tabs__nav {
            z-index: 0;
            .el-tabs__item {
                min-width: 120px;
                padding: 4px 15px 0;
                line-height: 38px;
                text-align: center;
                color: #333;
            }
            .el-tabs__item.is-active {
                z-index: 2;
                color: #bd9129;
            }
            .el-tabs__active-bar {
                z-index: 1;
                height: 36px;
                border-radius: 4px 4px 0 0;
                background-color: #fff;
            }
        }
    }
}
.el-cascader {
    width: 100%;
}
.el-cascader-menu__item {
    font-size: 12px;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.el-cascader-menu__item:hover {
    background: #eff6fc;
}
.el-cascader-menu__item.is-active,
.el-cascader-menu__item.is-active:hover {
    background-color: #4ca1f4;
}
.el-cascader__label {
    color: #333;
    overflow: hidden;
}

.draft {
    margin-right: 10px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #b5b5b5;
}
.examine {
    margin-right: 10px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #4ca1f4;
}
.notThrough {
    margin-right: 10px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #f35614;
}
.complete {
    margin-right: 10px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #64c757;
}

.top_title {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #c0ccda;
    border-bottom: 1px solid #c0ccda;
}
.top_title i {
    width: 4px;
    height: 20px;
    display: inline-block;
    background-color: #02adff;
    margin-right: 10px;
    vertical-align: middle;
}
.sure_bottom {
    text-align: right;
    margin-top: 50px;
}
.sure_bottom button {
    width: 100px;
    height: 36px;
}
.sure_bottom button:nth-child(2) {
    margin-left: 20px;
}
.el-message-box {
    border-radius: 10px;
}
.el-message-box__btns {
    padding: 10px 20px 30px;
}
.delete_icon:after {
    content: "";
    width: 13px;
    height: 14px;
    display: inline-block;
    background: url("../../../static/image/delete_icon.png") no-repeat left;
}
.el-scrollbar__wrap {
    margin-bottom: auto !important;
}
.el-scrollbar__thumb {
    background: rgba(31, 45, 61, 0.25);
}
.dialogTips {
    .el-dialog__close.el-icon.el-icon-close {
        vertical-align: top;
    }
    .el-button--default {
        color: #999;
    }
    .el-button--default:hover {
        color: #fff;
    }
    .el-dialog {
        border-radius: 10px;
    }
    .el-dialog {
        top: 40% !important;
        transform: translate(-50%, -50%) !important;
        border-radius: 10px !important;
    }
    .el-dialog__header {
        padding: 0 20px !important;
        background: #e8ecef;
        border-radius: 10px 10px 0 0;
        font-size: 16px;
        padding: 0;
        height: 40px;
        line-height: 40px;
        .el-dialog__title {
            color: #626262;
            font-weight: normal;
        }
        .el-dialog__headerbtn {
            margin-top: 13px;
        }
    }
    .el-dialog__body {
        //padding: 20px !important;
    }
    .el-dialog--tiny {
        width: 22%;
    }
    .el-message-box__status.el-icon-warning {
        display: inline-block;
    }
    .tips {
        display: inline-block;
        width: 80%;
        margin-left: 20px;
    }
    .el-message-box__status {
        position: inherit;
        position: initial;
        transform: translate(0, 0);
        top: 0;
    }
    .el-dialog__body > div:nth-child(1) {
        font-size: 16px;
        color: #475669;
        line-height: 21px;
    }
    .el-dialog__body > div:nth-child(2) {
        text-align: center;
    }
    .el-button + .el-button {
        margin-left: 18px;
    }
}
.clearposition {
    .arrow {
        height: 168px;
        width: 40px;
        position: absolute;
        z-index: 9999999;
        background: #999;
        border-radius: 10px;
        cursor: pointer;
        i {
            display: inline-block;
            width: 18px;
            height: 33px;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            margin-top: -16px;
            margin-left: -9px;
        }
    }
    .arrLeft {
        left: 60px;
        top: 50%;
        margin-top: -84px;
    }
    .arrRight {
        right: 60px;
        top: 50%;
        margin-top: -84px;
    }
    .arrLeft i {
        background: url(../../../static/image/arrow_left.png) no-repeat;
    }
    .arrRight i {
        background: url(../../../static/image/arrow_right.png) no-repeat;
    }
    .certTrans {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        cursor: grab;
    }
    .certname {
        position: relative;
        top: 0;
        z-index: 9999;
        display: block;
        width: 100%;
        background: #666;
        color: #fff;
        i {
            display: inline-block;
            height: 20px;
            width: 20px;
            background: url("../../../static/image/close.png") no-repeat;
            position: absolute;
            right: 10px;
            top: 10px;
            background-size: 20px;
            cursor: pointer;
        }
    }
}
#bottomBtns {
    height: 50px;
    width: 100%;
    background: #666;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    z-index: 99999;
    .flowhiden {
        margin: 0 auto;
        height: 100%;
        width: 660px;
    }
    ul {
        position: relative;
        li {
            float: left;
            height: 100%;
            cursor: pointer;
        }
    }
    .switch {
        height: 100%;
        width: 210px;
        margin-left: 50px;
        li {
            width: 50%;
        }
        i {
            display: inline-block;
            height: 20px;
            width: 25px;
            margin-top: 15px;
        }
        .pre i {
            background: url("../../../static/image/arrow_left11.png") no-repeat;
            background-size: 25px 20px;
        }
        .pre:hover i {
            background: url("../../../static/image/arrow_left1.png") no-repeat;
            background-size: 25px 20px;
        }
        .next i {
            background: url("../../../static/image/arrow_right11.png") no-repeat;
            background-size: 25px 20px;
        }
        .next:hover i {
            background: url("../../../static/image/arrow_right1.png") no-repeat;
            background-size: 25px 20px;
        }
    }
    .operatorBtns {
        height: 100%;
        width: 240px;
        margin-right: 50px;
        li {
            width: 25%;
        }
        i {
            display: inline-block;
            height: 20px;
            width: 20px;
            margin-top: 15px;
        }
        .narrow i {
            background: url("../../../static/image/lessen.png") no-repeat;
            background-size: 20px;
        }
        .narrow:hover i {
            background: url("../../../static/image/lessen_hover.png") no-repeat;
            background-size: 20px;
        }
        .refresh i {
            background: url("../../../static/image/reset.png") no-repeat;
            background-size: 20px;
        }
        .refresh:hover i {
            background: url("../../../static/image/reset_hover.png") no-repeat;
            background-size: 20px;
        }
        .changebig i {
            background: url("../../../static/image/enlarge.png") no-repeat;
            background-size: 20px;
        }
        .changebig:hover i {
            background: url("../../../static/image/enlarge_hover.png") no-repeat;
            background-size: 20px;
        }
        .reupload i {
            background: url("../../../static/image/reupload.png") no-repeat;
            background-size: 20px;
        }
        .reupload:hover i {
            background: url("../../../static/image/reupload_hover.png")
                no-repeat;
            background-size: 20px;
        }
    }
}
#bottomBtns:hover {
    opacity: 0.8;
}
.sealmodel {
    .el-dialog {
        margin-bottom: 0;
    }
}
#sealmodel {
    .el-dialog {
        width: 100%;
        height: 100%;
        top: 0px !important;
        transform: translateX(0);
        left: 0;
        margin-top: 0;
    }
    li {
        margin-bottom: 0px;
    }
}
#sealmodel2 {
    .el-dialog {
        left: 0;
        transform: translateX(0);
    }
}

.dialogTips.safety .el-dialog.el-dialog--tiny {
    width: 350px;
}
#scroll .current {
    background: #02adff;
    color: #fff;
}
.contactmanageradd .el-input.is-disabled .el-input__inner {
    color: #333 !important;
}

//滚动条优化
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.3);
}
::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.1);
}
//弹窗
.el-message-box.self-icon {
    margin-top: -120px;
    width: 570px;
    .el-message-box__content {
        padding: 60px 40px;
        .el-message-box__status {
            width: 40px;
            height: 40px;
            background-image: url("../../../static/image/icon_warning.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            &:before {
                display: none;
            }
        }
        .el-message-box__message {
            p {
                font-size: 16px;
                padding-left: 4px;
            }
        }
    }
    .el-message-box__btns {
        padding: 0 20px 30px;
        button:nth-child(1) {
            color: #475669;
            border-color: #c0ccda;
            &:hover {
                border-color: #0073bd;
            }
        }
    }
    &.delete-word {
        .el-message-box__content {
            padding: 40px;
            .el-message-box__message {
                padding-left: 50px;
            }
        }
    }
    &.icon-warning .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_warning.svg");
    }
    &.icon-drive .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_drive.svg");
    }
    &.icon-save .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_save.svg");
    }
    &.icon-delete .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_delete.svg");
    }
    &.icon-draft .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_draft.svg");
    }
    &.icon-unmatch .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_unmatch.svg");
    }
    &.icon-living .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_living.svg");
    }
    &.icon-buy .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_buy.svg");
    }
    &.icon-pay .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_pay.svg");
    }
    &.icon-position .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_position.svg");
    }
    &.icon-safe .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_safe.svg");
    }
    &.icon-unrestore .el-message-box__content .el-message-box__status {
        background-image: url("../../../static/image/icon_unrestore.svg");
    }
}
.el-message-box.self-icon.self-input {
    .el-message-box__content {
        padding: 35px 40px 30px;
        .el-message-box__status {
            display: none;
        }
        .el-message-box__message {
            display: inline-block;
            padding-right: 16px;
            p {
                font-size: 14px;
                color: #475669;
            }
        }
        .el-message-box__input {
            display: inline-block;
            width: 354px;
        }
    }
}
//实名认证、签约次数提醒弹窗
.el-dialog__wrapper.dialogTips.self-icon {
    .el-dialog {
        width: 570px;
        .el-dialog__body {
            padding: 50px 40px 40px;
            .content {
                position: relative;
                margin: 0;
                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 40px;
                    width: 40px;
                    background-image: url("../../../static/image/icon_warning.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    &:before {
                        display: none;
                    }
                    &.icon-safe {
                        background-image: url("../../../static/image/icon_safe.svg");
                    }
                    &.icon-buy {
                        background-image: url("../../../static/image/icon_buy.svg");
                    }
                }
                p {
                    width: 100%;
                    padding-left: 56px;
                    font-size: 16px;
                    margin-left: 0;
                    line-height: 21px;
                }
            }
            .btn-box {
                padding-top: 42px;
                button.el-button--default {
                    color: #475669;
                    border-color: #c0ccda;
                }
                &.width-88 button {
                    width: 88px;
                }
            }
        }
    }
}

//拒签原因弹窗
.backoutDialog,
.trunSignDialog {
    .el-dialog {
        width: 716px;
        top: 31%;
        border-radius: 10px;
        .el-dialog__header {
            padding: 10px 20px;
            background: #e8ecef;
            border-radius: 10px 10px 0 0;
            .el-dialog__headerbtn {
                margin-top: 2px;
            }
            .el-dialog__title {
                font-weight: 500;
            }
        }
        .el-dialog__body {
            padding: 30px;
            .bodybox {
                padding: 0;
                .item {
                    line-height: 14px;
                    padding-bottom: 20px;
                    position: relative;
                    .item-tit {
                        font-size: 16px;
                        color: #1f2d3d;
                    }
                    .item-cont {
                        font-size: 16px;
                        color: #1f2d3d;
                        width: 640px;
                        text-overflow: ellipsis;
                        padding-left: 5px;
                        white-space: nowrap;
                        .el-input {
                            width: 250px;
                            .el-input__inner {
                                background-color: #fff;
                            }
                        }
                    }
                    .getCodeBtn {
                        font-size: 14px;
                        color: #02adff;
                        border: 1px solid #02adff;
                        border-radius: 4px;
                        line-height: 34px;
                        display: inline-block;
                        padding: 0 15px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        margin-right: 7px;
                        cursor: pointer;
                    }
                    &:nth-of-type(2) {
                        padding-bottom: 10px;
                    }
                }
                .item-textarea {
                    textarea {
                        width: 100%;
                        height: 100%;
                        border: 1px solid #e2e2e2;
                        padding: 18px 20px;
                        height: 150px;
                        line-height: 18px;
                        color: #282828;
                        font-size: 14px;
                    }
                }
                .contactInput {
                    width: 240px;
                    margin-right: 20px;
                    input {
                        background: none;
                    }
                }
                .addBtn {
                    background: #fafafa;
                    border-color: #e2e2e2;
                    span {
                        color: #999;
                    }
                    .el-icon-plus:before {
                        color: #e2e2e2;
                    }
                }
                & > p {
                    margin-bottom: 10px;
                }
                .tips {
                    color: #626262;
                    font-size: 14px;
                    margin-top: 30px;
                    p {
                        font-size: 12px;
                        padding: 6px 0;
                    }
                }
            }
        }
        .footerbox {
            padding: 50px 0 0;
            text-align: center;
        }
    }
}
//转签弹窗
.trunSignDialog {
    .el-dialog.el-dialog--small {
        width: 716px;
        .el-dialog__body {
            padding: 30px 26px;
            .bodybox {
                > p {
                    color: #333;
                    font-size: 14px;
                    line-height: 20px;
                }
                .tips {
                    font-size: 14px;
                    color: #626262;
                    p {
                        font-size: 12px;
                        color: #626262;
                        margin-top: 12px;
                        padding: 0;
                        line-height: 17px;
                        &:first-of-type {
                            margin-top: 14px;
                        }
                    }
                }
            }
            .footerbox {
                text-align: center;
                padding-top: 50px;
                button {
                    width: 80px;
                    &:last-of-type {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}
.arbitrationDialog {
    .el-dialog.el-dialog--small {
        width: 800px;
        .el-dialog__body {
            .bodybox {
                padding: 0;
                > p:first-of-type {
                    color: #282828;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                .tips {
                    margin-top: 0;
                    p {
                        color: #666;
                        line-height: 27px;
                        padding: 0;
                        font-size: 14px;
                    }
                }
            }
            .footerbox {
                padding-top: 28px;
                button {
                    width: 80px;
                    &:last-of-type {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}
//移动合同弹窗
.moveFile.custom-dialog.el-dialog.el-dialog--small {
    width: 570px;
    .dialog-content {
        padding: 50px 20px 30px;
        p {
            text-align: left;
            font-size: 14px;
            color: #475669;
            display: inline-block;
            padding: 0 14px 0 0;
        }
        .move-select {
            display: inline-block;
            width: 354px;
        }
    }
    .el-dialog__footer {
        padding-bottom: 40px;
    }
}

// 模板管理图标
.word-template {
    .pos-sign {
        ul {
            li {
                i {
                    position: relative;
                    top: 2px;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                    color: #2a68c8;
                    font-size: 14px;
                    &.icon-gaizhang {
                        background-image: url("../../../static/image/tmpManage/gaizhang.svg");
                    }
                    &.icon-qianming {
                        background-image: url("../../../static/image/tmpManage/qianming.svg");
                    }
                    &.icon-wenben {
                        background-image: url("../../../static/image/tmpManage/wenben.svg");
                    }
                    &.icon-riqi {
                        background-image: url("../../../static/image/tmpManage/riqi.svg");
                    }
                    &.icon-shuzi {
                        background-image: url("../../../static/image/tmpManage/xuanxiang.svg");
                    }
                }
                &:hover {
                    .icon-gaizhang {
                        background-image: url("../../../static/image/tmpManage/gaizhang-hover.svg");
                    }
                    .icon-qianming {
                        background-image: url("../../../static/image/tmpManage/qianming-hover.svg");
                    }
                    .icon-wenben {
                        background-image: url("../../../static/image/tmpManage/wenben-hover.svg");
                    }
                    .icon-riqi {
                        background-image: url("../../../static/image/tmpManage/riqi-hover.svg");
                    }
                    .icon-shuzi {
                        background-image: url("../../../static/image/tmpManage/xuanxiang-hover.svg");
                    }
                }
            }
        }
    }
    .turn-page {
        i {
            display: inline-block;
            width: 30px;
            height: 30px;
            &.icon-zhiding {
                background: url("../../../static/image/tmpManage/zhiding.svg")
                    no-repeat center;
                background-size: 100%;
            }
            &.icon-shangyiye {
                background: url("../../../static/image/tmpManage/shang.svg")
                    no-repeat center;
                background-size: 100%;
            }
            &.icon-xiayiye {
                background: url("../../../static/image/tmpManage/xia.svg")
                    no-repeat center;
                background-size: 100%;
            }
            &.icon-zhidi {
                background: url("../../../static/image/tmpManage/zhidi.svg")
                    no-repeat center;
                background-size: 100%;
            }
        }
    }
    .text-area {
        i {
            display: inline-block;
            width: 15px;
            height: 15px;
            &.icon-add {
                background: url("../../../static/image/tmpManage/add.svg")
                    no-repeat center;
                background-size: 100% 100%;
            }
            &.icon-remove {
                background: url("../../../static/image/tmpManage/remove.svg")
                    no-repeat center;
                background-size: 100% 100%;
            }
        }
    }
    .icon-close {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("../../../static/image/tmpManage/icon-close.svg")
            no-repeat center;
        background-size: 100% 100%;
    }
}
.el-message-box__header,
.el-dialog__header {
    position: relative !important;
    padding: 0 20px !important;
    background: #e8ecef !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    *zoom: 1;
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
    .el-message-box__title,
    .el-dialog__title {
        line-height: 40px;
        vertical-align: middle;
        color: #626262 !important;
        font-size: 16px;
        font-weight: normal !important;
        float: left;
    }
    .el-message-box__headerbtn,
    .el-dialog__headerbtn {
        line-height: 40px;
        height: 40px;
        position: static;
        margin-top: 0px !important;
        float: right;
        i {
            vertical-align: middle !important;
        }
    }
}
.el-dialog {
    border-radius: 10px;
    .footerbox {
        text-align: center;
        margin-bottom: 10px;
    }
}
.guide-model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.loading-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    text-align: center;
    z-index: 9999;
    transition: opacity 0.3s linear;
    .loading {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .spinner {
            margin: 0 auto;
            // width: 50px;
            height: 50px;
            text-align: center;
            font-size: 10px;
            div {
                background-color: #02adff;
                height: 100%;
                width: 5px;
                display: inline-block;
                -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
                animation: stretchdelay 1.2s infinite ease-in-out;
                margin-left: 4px;
            }
            .rect2 {
                -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
            }
            .rect3 {
                -webkit-animation-delay: -1s;
                animation-delay: -1s;
            }
            .rect4 {
                -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
            }
            .rect5 {
                -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
            }
        }
        .loading-text {
            font-size: 14px;
            display: block;
            text-align: center;
            margin-top: 20px;
            color: #fafafa;
        }
    }
}

.loading-pop-enter,
.loading-pop-leave-active {
    opacity: 0;
}

.orderpage-topbar {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e8ecef;
    padding: 0 30px;
    .orderpage-tit {
        float: left;
        font-size: 18px;
        color: #333333;
    }
    .orderpage-progress {
        float: right;
    }
}
.orderpage-cont {
    padding: 30px;
    position: relative;
    .orderpage-item-tit {
        font-size: 16px;
        color: #333333;
        padding: 30px 0 10px 0;
        .tips {
            color: #999999;
            font-size: 14px;
            margin-left: 10px;
        }
        .editbtn {
            font-size: 14px;
            color: #02adff;
            margin-left: 25px;
            padding-left: 22px;
            cursor: pointer;
            background: url(../../../static/image/icon-edit.png) no-repeat;
            &:hover {
                color: #0073bd;
                background: url(../../../static/image/icon-edit-hover.png)
                    no-repeat;
            }
        }
    }
    .orderpage-item-name {
        width: 80px;
        float: left;
        height: 40px;
        line-height: 40px;
    }
    .orderpage-item-cont {
        margin-left: 90px;
        height: 40px;
        line-height: 40px;
    }
    .orderpage-item-font1 {
        font-size: 16px;
        color: #333333;
    }
    .orderpage-item-font2 {
        font-size: 14px;
        color: #626262;
    }
    .orderpage-item-font3 {
        font-size: 16px;
        color: #626262;
    }
    .tableimg {
        height: 40px;
    }
}
.orderpage-footbtn {
    text-align: right;
    padding: 30px;
    .el-button {
        width: 140px;
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}
